@media screen and (max-width: 400px) {
  #FACTORPOINTS {
    padding: 20px;
    width: 111%;
  }
  #OURJOURNEY,
  #DEVILFRUITS,
  #ACTORSSAY,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #MOMENTS {
    width: 110%;
  }
}

